.wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.inputWrapper {
    position: relative;
    flex: 1;
}

.input {
    width: 700px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    background-color: #fff;
    color: #333;
}

.button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background: #ffb300;
    color: #1f2933;
    cursor: pointer;
}

.button:hover {
    background: #ff7043;
}

.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50px;
    left: 0;
    right: 0;
    color: #0e0d0d;
    background: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    padding: 8px;
}


.dropdownItem {
    display: flex;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}


.removeBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #888;
    font-size: 24px;
    padding: 0 4px;
}

.removeBtn:hover {
    color: #d00;
}