.box {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 50px 0 100px 0;
  gap: 200px;
}

/* Адаптив для планшетов */
@media (max-width: 1199px) {
  .box {
    width: 90%;
    gap: 50px;
  }
}

/* Адаптив для малых планшетов и больших телефонов */
@media (max-width: 767px) {
  .box {
    width: 95%;
    gap: 20px;
  }
}

/* Адаптив для мобильных устройств */
@media (max-width: 479px) {
  .box {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px 0 40px 0;
    gap: 10px;
  }
}
