body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 155, 223);
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Адаптив для планшетов */
@media (max-width: 1199px) {
  .container {
    padding: 0 15px;
  }
}

/* Адаптив для малых планшетов и больших телефонов */
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

/* Адаптив для мобильных устройств */
@media (max-width: 479px) {
  .container {
    padding: 0 5px;
  }
}

/* Дополнительная адаптация для очень маленьких экранов */
@media (max-width: 359px) {
  .container {
    padding: 0 2px;
  }
}
