.switch {
    position: relative;
    display: inline-flex;
    align-items: center;

    width: 180px;
    height: 50px;
    border-radius: 999px;
    border: none;

    padding: 0 18px;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;

    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.25s ease, color 0.25s ease;
}

/* светлая сторона */
.switchLight {
    background-color: #f1f1f1;
    color: #111827;
}

.switchLight .label {
    transform: translateX(30px);

}

/* тёмная сторона */
.switchDark {
    background-color: #111827;
    color: #f9fafb;
}

.switchDark .label {
    transform: translateX(20px);
}

.label {
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.thumb {
    position: absolute;
    top: 50%;
    left: 0;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(8px, -50%);
    transition: transform 0.25s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    z-index: 2;
}

.switchDark .thumb {
    transform: translate(138px, -50%);
}

.iconSun,
.iconMoon {
    font-size: 18px;
    line-height: 1;
}