.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-left: 50px;
}

.cart {
    border: 1px solid #00000029;
    color: #0e0d0d;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
