.box {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-bottom: 100px;
}

/* Адаптив для планшетов */
@media (max-width: 1199px) {
  .box {
    width: 90%;
  }
}

/* Адаптив для малых планшетов и больших телефонов */
@media (max-width: 767px) {
  .box {
    width: 95%;
  }
}

/* Адаптив для мобильных устройств */
@media (max-width: 479px) {
  .box {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}
