
h1 {
    font-size: 32px;
    color: #FFFFFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 300px;
}

.cart {
    border: 1px solid #00000029;
    color: #0e0d0d;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    color: rgba(7, 42, 65, 0.51);
}

.sub {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.weatherData {
    font-size: 40px;
    font-weight: bold;
    color: rgba(7, 42, 65, 0.64);
}


