body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    min-width: 320px;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

