.wrapper {
    display: flex;
    width: 250px;
    height: 400px;
    flex-direction: column;
    border: 1px solid red;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    color: #0e0d0d;
}

.title2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    color: #0e0d0d;
}

.gradus {
    display: flex;
    justify-content: center;
    font-size: 40px;
}