.wrapper {
    display: flex;
    width: 250px;
    height: 400px;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 42px;
    text-align: center;
    color: var(--today-title-color);      /* было: #fdfdfd */
}

.title2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    color: var(--today-subtitle-color);   /* было: #fdfdfd */
}

.country {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: var(--country-color);          /* добавили */
}

.gradus {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: var(--gradus-color);           /* добавили */
}

.boxLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btnGeo {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background: var(--primary-btn-bg);
    color: var(--primary-btn-text);
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: var(--primary-btn-bg);
    color: var(--primary-btn-text);           
}






















/*.wrapper {*/
/*    display: flex;*/
/*    width: 250px;*/
/*    height: 400px;*/
/*    flex-direction: column;*/
/*}*/

/*.title {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 42px;*/
/*    text-align: center;*/
/*    color: #fdfdfd;*/
/*}*/

/*.title2 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 24px;*/
/*    text-align: center;*/
/*    color: #fdfdfd;*/
/*}*/

/*.country {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 24px;*/
/*}*/

/*.gradus {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 100px;*/
/*}*/

/*.boxLocation {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    margin-bottom: 20px;*/
/*}*/


/*.btnGeo {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 14px;*/
/*    background: #fdfdfd;*/
/*    color: #0e0d0d;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.btn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 14px;*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/