.wrapper {
    display: flex;
    width: 250px;
    height: 400px;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    color: #fdfdfd;
}

.title2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    color: #fdfdfd;
}

.country {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.gradus {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.boxLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}